.home-video {
    width: 80%;
    margin:0 auto;
    display: block;
}

.home-video-mobile {
    display: none;
}
.home-img {
    max-width: 100%;
}

@media screen and (max-width:730px) {
    .home-video {
        display: none;
    }
    .home-video-mobile {
        width: 80%;
        margin:0 auto;
        display: block;
    }
    .home-img {
        margin-top: 7%;
        margin-bottom: -2%;
        width: 100%;
        max-width: 100%;
    }
}