@font-face {
    font-family: 'mont';
    src: url(/assets/fonts/mont.otf);
}
@font-face {
    font-family: 'bbb';
    src: url(/assets/fonts/bbb.ttf);
}

* {
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 10px #ffffff;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 8rem;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 12rem;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 40px;

}

.nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: #000000;
    font-weight: 400;
    font-family: 'bbb', sans-serif;
    transition: 0.2s;
}

.nav-link:hover {
    color: rgb(69, 69, 69);
    transition: 0.2s;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width:930px) {
    .nav-bar {
        padding: 1rem 2.5rem;
    }

    .nav-item {
        display: none;
    }


    .logo img {
        width: 6rem;
    }


    .mobile-menu-icon {
        display: block;
        margin-left: 40%;
    }


    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        margin-top: 10% ;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 15rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 5rem;
    }

    .open {
        display: block;
    }

    .icon {
        width: 3em;
    }
}