.imgStyle {
    width: 50px;
    height: 50px;
    border: 2px solid #fbfbfb;
    transition: 1s;
}

.gallery {
    margin-left: %;
    margin-top: %;

}
#mainImage {
    width: 450px;
    height: 450px;
}
.imgStyle {
    width: 100px;
    height: 100px;

}
#divId {
    margin-left: 0%;
}
.prod-name-price {
    display: flex;
    flex-direction: column;
    align-items: center;



}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 5%;
    margin-right: auto;
}

.price {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 7%;
    margin-left: 8%;
    font-size: 1em
}
.prod-btn {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 8%;
    font-size: .7em;
    color: #000;
}
.prod-btn button:nth-child(2) {
    margin-left: 0;
}
.prod-btn button {
    border: none;
    margin-left: 5px;
    margin-top: 10px;
    padding: 7px 10px;
    font-size: 1em;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 0px 5px rgba(161, 161, 161, 0.605);
}

.prod-btn a {
    color: #000;
}
.prod-btn button:focus {
    background-color: #9a9a9a;
}
.prod-buy a {
    text-decoration: none;
    color: #7b7b7b;
}
.prod-buy button {
    border: none;
    margin-left: 8%;
    margin-top: 10px;
    padding: 5px 20px;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 5px rgba(161, 161, 161, 0.605);
}







    

@media(max-width:870px) {

    .gallery {
        display: flex;
        align-items: center;
        flex-direction: column;
        

    }

    #mainImage {
        width: 250px;
        height: 250px;
    }

    .imgStyle {
        width: 70px;
        height: 70px;

    }

    #divId {
        margin-top: 2%;
    }

    .prod-name-price {
        display: flex;
        flex-direction: column;
        align-items: center;

   

    }

    .name {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 7%;
        margin-left: 22%;
        font-size: 2em
 
    }

    .price {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 5%;
        margin-left: 35%;
        font-size: 1.5em
    }
    .prod-btn {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 22%;
        margin-top: 5%;
        font-size: .7em;
        color: #000;
    }
    .prod-btn button:nth-child(2) {
        margin-left: 0;
    }
    .prod-btn button {
        border: none;
        margin-left: 5px;
        margin-top: 10px;
        padding: 7px 10px;
        font-size: 1em;
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 0px 5px rgba(238, 238, 238);
    }

    .prod-btn a {
        color: #000;
    }
    .prod-btn button:focus {
        background-color: #9a9a9a;
    }
    .prod-buy a {
        text-decoration: none;
        color: #1f1f1f;
    }
    .prod-buy button {
        border: none;
        margin-left: 22%;
        margin-top: 7%;
        padding: 5px 80px;
        background-color: rgb(238, 238, 238);
        box-shadow: 0px 0px 5px rgba(238, 238, 238);
    }
    .prod-buy img {
        width: 5%;
    }
}