body {
    color: black;
}

.imgStyle {
    width: 50px;
    height: 50px;
    border: 2px solid #fbfbfb;
    transition: 1s;
}

.gallery {
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    margin-right: 5%;

}

#mainImage {
    width: 450px;
    height: 450px;
}

.imgStyle {
    margin-top: 20px;
    width: 100px;
    height: 100px;

}

#divId {
    
}


.name {
    font-family: 'bbb', Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-top: 4%;
}

.price {
    font-family: 'caviar', Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-left: 8%;
    font-size: 2em
}

.prod-btn {
    font-family: 'caviar', Arial, Helvetica, sans-serif;
    margin-top: 2%;
    margin-left: 8%;
    font-size: 1.2em;
    color: #000;
}

.prod-btn button:nth-child(2) {
    margin-left: 0;
}

.prod-btn button {
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 1em;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 2px rgb(146, 146, 146);
}


.prod-btn button:focus {
    background-color: #9a9a9a;
}

.prod-buy a {
    text-decoration: none;
    color: #000000;
    font-family: 'mont';
}

.prod-buy button {
    border: none;
    margin-left: 0%;
    margin-top: 20px;
    padding: 5px 140px;
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 2px rgb(146, 146, 146);
    transition: 0.2s;

}

.prod-buy button:hover {
    background-color: rgb(197, 197, 197);
    transition: 0.2s;
}

.details {
    margin-top: 4%;
    font-family: 'caviar',Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-right: 30%;
    font-size: 1.2em;
    margin-bottom: 10%;
}

@media(max-width:870px) {

    .gallery {
        display: flex;
        align-items: center;
        flex-direction: column;
        float: none;


    }

    #mainImage {
        width: 250px;
        height: 250px;
    }

    .imgStyle {
        width: 70px;
        height: 70px;

    }

    #divId {
        margin-top: 2%;
    }


    .name {
        font-family: 'bbb', Arial, Helvetica, sans-serif;
        margin-top: 7%;
        margin-left: 12%;
        font-size: 2.5em
    }

    .price {
        font-family: 'caviar', Arial, Helvetica, sans-serif;
        margin-top: 0%;
        margin-left: 35%;
        font-size: 1.8em
    }

    .prod-btn {
        font-family: 'caviar', Arial, Helvetica, sans-serif;
        margin-left: 15%;
        margin-top: 10%;
        font-size: .9em;
        color: #000;
    }

    .prod-btn button:nth-child(2) {
        margin-left: 0;
    }
    .prod-btn p {
        margin-left: 5%;
    }

    .prod-btn button {
        border: none;
        border-radius: 2px;
        margin-left: 5px;
        margin-top: 10px;
        padding: 7px 18px;
        font-size: 1.0em;
        background-color: rgb(231, 231, 231);
        box-shadow: 0px 0px 2px rgb(146, 146, 146);
        font-family: 'mont';

    }

    .prod-btn a {
        color: #000;
    }

    .prod-btn button:focus {
        background-color: #9a9a9a;
    }

    .prod-buy a {
        text-decoration: none;
        color: #1f1f1f;
    }

    .prod-buy button {
        border: none;
        margin-left: 20%;
        margin-top: 7%;
        padding: 10px 80px;
        background-color: rgb(231, 231, 231);
        box-shadow: 0px 0px 2px rgb(146, 146, 146);
    }

    .prod-buy img {
        width: 5%;
    }
    .details {
        margin-top: 15%;
        margin-right: 10%;
        margin-left: 10%;
    }
}