.flexdate {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(226, 43, 43);
    font-family: 'bbb';
    font-size: 1.6rem;
    margin-left: 20%;
    margin-right: 20%;
}


.shop {
    margin-top: 8%;
    margin-bottom: 8%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.produtos img {
    width: 300px;
}

.produtos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.2s;

}
.produtos:hover{
    scale: 1.02;
    transition: 0.2s;
}
.prod-name {
    margin-top: 10px;
    margin-bottom: -7px;
    font-family: 'bbb',Arial, Helvetica, sans-serif;
    font-size: 1.6em;
}
.prod-price {
    font-family: 'caviar',Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
@media(max-width:1100px){
    .shop {
        display: block;
    }
    .produtos img {
        width: 250px;
    }
    .produtos {
        margin-bottom: 15%;
    }
}